{% extends 'base.html' %}
{% load static %}

{% block title %}Create a Recipe{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/recipe/recipe_input.css' %}">
{% endblock %}

{% block content %}
<div class="center-container">
  <div class="form-container">
    <h2>Create a Recipe</h2>
    {% if error %}
      <p><strong>{{ error }}</strong></p>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label>Title:</label>
        <input type="text" class="form-control" name="title" required>
      </div>
      <div class="form-group">
        <label>Category:</label>
        <select class="form-control" name="category">
          {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label>Description:</label>
        <textarea class="form-control" name="description" required></textarea>
      </div>
      <div class="form-group">
        <label>Time Required:</label>
        <input type="text" class="form-control" name="time_required">
      </div>
      <div class="form-group">
        <label>Calory count:</label>
        <input type="number" class="form-control" name="calory_count">
      </div>
      <div class="form-group">
        <label>Ingredients:</label>
        <textarea class="form-control" name="ingredients" required></textarea>
      </div>
      <div class="form-group">
        <label>Instructions:</label>
        <ol id="instruction_list">
          <li><input type="text" class="form-control" name="instruction_1" required></li>
        </ol>
        <button type="button" class="btn btn-primary" id="add_instruction">Add Instruction</button>
      </div>
      <div class="form-group">
        <label>Photo:</label>
        <input type="file" class="form-control-file" name="photo">
      </div>
      <div class="form-group">
        <label>Video:</label>
        <input type="text" class="form-control" name="video">
      </div>
      <button type="submit" class="btn btn-primary">Create Recipe</button>
    </form>
  </div>
</div>
{% endblock %}
{% block js %}
  <script src="{% static 'js/recipe/addrecipe.js' %}"></script>
{% endblock %}