{% extends 'base.html' %}
{% load static %}

{% block title %}Recipe Details{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/recipe/viewrecipe.css' %}">
{% endblock %}

{% block content %}
<div class="recipe-details">
  <h2>Title: {{ recipe.title }}</h2>
  {% if request.user == recipe.author %}
  <a href="{% url 'edit_recipe' recipe.id %}">Edit</a>
  <a href="{% url 'add_images' recipe.id %}">Add Images</a>
  <a href="{% url 'delete_recipe' recipe.id %}">Delete</a>
  {% endif %}
  <p>Author: 
  <a href="{% url 'profile' recipe.author.username %}">{{ recipe.author }} <a>
  </p>
  {% if recipe.photo %}
    <img src="{{ recipe.photo.url }}" alt="Recipe Image" height="500" width="750">
  {% endif %}
  <p>Description: {{ recipe.description }}</p>
  <p>Ingredients: {{ recipe.ingredients }}</p>
  <p>Time: {{ recipe.time_required }}</p>
  <p>Calory Count: {{ recipe.calories }} </p>
</div>

<div class="instructions">
  {% for instruction in instructions %}
    <div class="instruction">
      <p>{{ instruction.step }}</p>
      {% if instruction.image %}
        <img src="{{ instruction.image.url }}" alt="Instruction Image" height="500" width="750">
      {% endif %}
    </div>
  {% endfor %}
</div>

<div class="like-button">
  {% if not is_liked %}
    <a href="{% url 'like_recipe' recipe.id %}">Like</a>
  {% else %}
    <a href="{% url 'unlike_recipe' recipe.id %}">Unlike</a>
  {% endif %}
  <p>Likes: {{ likes_count }}</p>
</div>

<div class="video">
  {% if recipe.video %}
    <iframe src="{{ recipe.video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  {% endif %}
</div>
<div class="comments">
  <h3>Comments</h3>
  {% for comment in comments %}
    <div class="comment">
      <p>{{ comment.user }}: {{ comment.review }}</p>
      <p> At {{ comment.created_date }}</p>
      {% if request.user == comment.user %}
        <a href="{% url 'delete_review' comment.id %}">Delete</a>
      {% endif %}
    </div>
  {% endfor %}

  {% if request.user.is_authenticated %}
    <form action="{% url 'add_review' recipe.id %}" method="POST">
      {% csrf_token %}
      <label for="review">Add a comment</label>
      <textarea name="review" id="review" cols="30" rows="10"></textarea>
      <input type="submit" value="Add Comment">
    </form>
  {% endif %}
{% endblock %}
