{% extends "base.html" %}
{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/userauth/editprofile.css' %}">

{% endblock %}

{% block content %}

<form method="post">

{% csrf_token %}

<label for="email">Email</label> <br>
<input type="email" name="email" placeholder="Email" value="{{ user.email }}"/> <br>

<label for="first_name">First Name</label> <br>
<input type="text" name="first_name" placeholder="First Name" value="{{ user.first_name }}"/> <br>

<label for="last_name">Last Name</label> <br>
<input type="text" name="last_name" placeholder="Last Name" value="{{ user.last_name }}"/> <br>

<label for="password">Password</label> <br>
<input type="password" name="password" placeholder="Password" /> <br>

<label for="password2">Confirm Password</label> <br>
<input type="password" name="password2" placeholder="Confirm Password" /> <br>

<input type="submit" value="Update Profile" />
</form>

{% endblock %}